---
title: About the [name of API] API
weight: 10
---

# About the [name of API] API

<%= warning_text("You can use the Technical Documentation Template (TDT) to create and publish technical documentation for users in government, including API documentation.<br/><br/>
We’ve provided these starting pages with a best practice API documentation structure. It includes the template structure of the documentation sections you need, and is based on <a href='https://www.gov.uk/guidance/how-to-document-apis'>our latest guidance on how to document APIs</a>.<br/><br/>
You can also start from scratch if you’re not using the TDT to create API documentation.") %>

Use this section to start your documentation with a short overview of:

- what your API does and does not do
- whether your API is in the alpha, beta or live phase
- the benefits of using the API, so users can compare it to other APIs
- whether it’s free to use
- whether your users need to build or buy anything before they use it (technical prerequisites)
- who can use your API, and any restrictions on using it or its data

Avoid trying to sell your API. Describe features as benefits for your users instead.

Keep your introduction short, so your users can read and understand it easily. For example see the [GOV.UK Platform as a Service (PaaS) introduction page](https://docs.cloud.service.gov.uk/#gov-uk-platform-as-a-service).

You can read more about [documentating APIs](https://www.gov.uk/guidance/how-to-document-apis).