@mixin with-scrollbars {
  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    -webkit-border-radius:5px;
    border-radius:5px;
    background:rgba(0,0,0,0.1);
  }

  &::-webkit-scrollbar-thumb {
    -webkit-border-radius:5px;
    border-radius:5px;
    background:rgba(0,0,0,0.2);
  }

  &::-webkit-scrollbar-thumb:hover {
    background:rgba(0,0,0,0.4);
  }

  &::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(0,0,0,0.05);
  }
}
