.toc {
  @include screen {
    @include core-16;
    
    margin: $gutter-half;
    
    @include media(tablet) {
      margin: $gutter-half $gutter;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    li li {
      margin-left: $gutter-half;
    }

    a:link, a:visited {
      text-decoration: none;
      display: block;
      padding: 8px 0;
    }

    a:hover {
      text-decoration: underline;
    }

    > ul {
      > li > a {
        @include bold-16;

        &:after {
          content: "\203A";
          float: right;
        }
      }
    }
  }

  @include print {
    display: none;
  }
}
